@*<partial name="Partial/_Slider"/>*@
@model IEnumerable<WebStore.Models.Blog>
	
<section>
	<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<partial name="Partial/_LeftSideBar"/>
				</div>
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">Latest From our Blog</h2>
						@foreach(var blog in Model){

						<div class="single-blog-post">
							<h3>@blog.Title</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i>@blog.User</li>
									<li><i class="fa fa-clock-o"></i>@blog.Created.Hour.ToString():@blog.Created.Minute.ToString()</li>
									<li><i class="fa fa-calendar"></i>@blog.Created.Day/@blog.Created.Month/@blog.Created.Year</li>
								</ul>
								<span>
									@for(int i = 0; i < blog.StarsCount; i++)
									{
										<i class="fa fa-star"></i>
									}
								</span>
							</div>
							<a href="">
								<img src="~/images/blog/blog-@blog.ImgSource" alt="">
							</a>
							<p>@blog.FirstParagraph</p>
							<a  class="btn btn-primary" asp-action="WebStoreBlog" asp-route-id="@blog.Id">Read More</a>
						</div>
						}
						<div class="pagination-area">
							<ul class="pagination">
								<li><a href="" class="active">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>